.i1{
   width: 400px;
    
  }
  .button{
    padding: 10px;
    width: 300px;
    height: 50px;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius: 10px;
    background-image: linear-gradient(45deg,#d428cd,#6c63cb);
  }
  .img2{
    height: 408px;
    width: 100%;
    border-radius: 0px 0px 0px 20px;
    margin-top: 115px;
  
  }
  .text{
    color: #d428cd;
    font-weight: 400px;
    
  }
  .color{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
  }
  .part2{
    display: flex;
    flex-direction: row;
    justify-content:50%;
    width: 100%;
    border: 2px solid white;
    border-radius: 20px;
    background-image: linear-gradient(45deg,#d428cd,#d428cd);
    height: 100vh;
  }
  .part1{
    width: 40%;
  }
  .left{
    width:500px;
    height: 90vh;
    background-image: linear-gradient(45deg, #6c63cb,#d428cd);
    border-radius: 10px;
    
  }
  
  .Container{
    border-radius:20px;
    box-shadow: 20px;
    background-color: white;
    padding: 10px;
    width: 50%;
    
  }
  .heading{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    margin-right: 45px;
    margin-top:2px ;
  }
  
  .button1{
  
    padding: 30px;
    color: white;
    height:85px;
    width: 685px;
    border-radius:10px;
    font-weight: bold;
    background-image: linear-gradient(45deg,#6c63cb,#d428cd);
    margin-top: 80px;
    margin-right: 60px;
    text-align: center;
  
  }
  
  .text{
    color: #d428cd;
    font-weight: 400px;
    margin-left: 325px;
    margin-top: 20px;
  }
  .ab{
    margin-left: 280px;
    margin-top: 85px;
  }
  
  .a{
    margin-left: 20px;
    margin-right: 200px;
    height: 85px;
    width: 85px;
    
  }
  
  .b{
    height: 605px;
    width:100vh;
    padding-bottom: 10px;
    margin-left: 0px;
    padding-left: 0px;
    margin-top: 94px;
    padding-top: 80px;  
    
  }
  .card{
    margin-left: 0px;
    padding-left: 0px;
    
  }
  @media only screen and (max-width: 1000px)
  {
    .a{
      margin-left: 0px;
      margin-right: 0px;
      height: 0px;
      width: 0px;
      
  }
  .b{
    height: 0px;
    width:0vh;
    padding-bottom: 0px;
    margin-left: 0px;
    padding-left: 0px;
    margin-top: 0px;
    padding-top: 0px;  
    
  }
  .Container{
    border-radius:20px;
    box-shadow: 20px;
    background-color: white;
    padding: 10px;
    
  }
  .left{
    width:0px;
    height: 0vh;
    background-image: linear-gradient(white);
    border-radius: 0px;
    
  }
  
  
}